extends /views/notrack.pug

block prepend title
	- title = 'Automatic contribution'
	- page = 'contribution'

block contents
	.row
		.col-md-3
			include /apps/members/apps/member/views/partials/sidebar.pug
		.col-md-9
			+page_header( member.fullname )

			h4= contribution.subscriptionId ? 'Update contribution' : 'Start contribution'
			if !contribution.mandateId
				.alert.alert-warning User does not have an active payment method
			else if !canChange
				.alert.alert-warning Can't change contribution at the moment, probably due to pending payments
			else
				form( method="post").form-horizontal
					+csrf
					input( type='hidden' name='action' value='update-subscription' )

					+input( 'number', 'Monthly amount', 'amount', {
						left: 3, right: 4, before: currencySymbol,
						value: member.contributionMonthlyAmount
					})
					if !!contribution.subscriptionId
						input(type='hidden' name='period' value=contribution.period)
						.form-group
							label.col-md-3.control-label Period
							.col-md-4.form-control-static= contribution.period
					else
						+input( 'radio', 'Period', 'period', {
							left: 3, right: 4,
							options: {'monthly': 'Monthly', 'annually': 'Annually'},
							value: contribution.period
						})
					+input( 'checkbox', 'Paying fee', 'payFee', {
						left: 3, right: 4,
						options: {'true': 'Yes'},
						value: contribution.payFee
					})

					if monthsLeft > 0
						.form-group
							label(for='prorate').col-md-3.control-label Prorate
							.col-md-9
								.checkbox
									label
										input(type='checkbox' value='true')#prorate
										|  Yes
										|
										small (#{monthsLeft} months left until next payment)

					+form_button( contribution.subscriptionId ? 'Update' : 'Start', 'success', { left: 3 } )

			if contribution.subscriptionId
				hr

				h4 Cancel contribution

				form(method='post')
					+csrf
					.checkbox
						label
							input(type='checkbox' required)
							| This action is irreversible, confirm to proceed
					button(name='action' value='cancel-subscription').btn.btn-danger Cancel

			hr

			h4 Payments
			if payments.length > 0
				.table-responsive
					table.table.table-striped.table-condensed
						thead
							tr
								th Payment ID
								th Subscription ID
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									td= payment.id
									td= payment.subscriptionId
									td #{ moment( payment.chargeDate ).format( 'DD/MM/YYYY' ) }
									td #{ payment.description }
									td: +paymentStatus(payment)
									td
										| #{ payment.amount ? currencySymbol + payment.amount : '–' }
										if payment.amountRefunded
											|  (-#{currencySymbol}#{payment.amountRefunded})
						tfoot
							tr
								th( colspan=5 ) Total
								th #{currencySymbol}#{ total }
			else
				p Contact has no payment history
