extends /views/notrack.pug

block prepend title
	- title = 'GoCardless contribution'
	- page = 'contribution'

mixin commonSubscriptionFields(idPrefix, periodReadOnly)
	+input( 'number', 'Monthly amount', 'amount', {
		left: 3, right: 4, before: currencySymbol,
		value: member.contributionMonthlyAmount,
		id: idPrefix + 'Amount'
	})
	if periodReadOnly
		.form-group
			label.col-md-3.control-label Period
			.col-md-4.form-control-static= member.contributionPeriod
	else
		+input( 'radio', 'Period', 'period', {
			left: 3, right: 4,
			options: {'monthly': 'Monthly', 'annually': 'Annually'},
			value: member.contributionPeriod,
			id: idPrefix + 'Period'
		})
	+input( 'checkbox', 'Paying fee', 'payFee', {
		left: 3, right: 4,
		options: {'true': 'Yes'},
		value: paymentData.payFee,
		id: idPrefix + 'PayFee'
	})

block contents
	.row
		.col-md-3
			include /apps/members/apps/member/views/partials/sidebar.pug
		.col-md-9
			+page_header( member.fullname )

			h4= paymentData.subscriptionId ? 'Update contribution' : 'Start contribution'
			if !paymentData.mandateId
				.alert.alert-warning User does not have an active payment method
			else if !canChange
				.alert.alert-warning Can't change contribution at the moment, probably due to pending payments
			else
				form( method="post").form-horizontal
					+csrf
					input( type='hidden' name='action' value='update-subscription' )
					+commonSubscriptionFields('update', !!paymentData.subscriptionId)

					if member.memberMonthsRemaining > 0
						.form-group
							label(for='prorate').col-md-3.control-label Prorate
							.col-md-9
								.checkbox
									label
										input(type='checkbox' value='true')#prorate
										|  Yes
										|
										small (#{member.memberMonthsRemaining} months left until next payment)

					+form_button( paymentData.subscriptionId ? 'Update' : 'Start', 'success', { left: 3 } )

			h4 Manual update
			.alert.alert-danger.
				If done incorrectly this could result in payments being taken but not
				recorded
			form( method="post" ).form-horizontal
				+csrf
				input( type='hidden' name='action' value='force-update' )
				+input( 'text', 'Customer ID', 'customerId', { value: paymentData.customerId, left: 3, right: 4 } )
				+input( 'text', 'Mandate ID', 'mandateId', { value: paymentData.mandateId, left: 3, right: 4 } )
				+input( 'text', 'Subscription ID', 'subscriptionId', { value: paymentData.subscriptionId, left: 3, right: 4 } )
				+commonSubscriptionFields('force', false)
				+form_button( 'Update', 'danger', { left: 3 } )

			h4 Payments
			if payments.length > 0
				.table-responsive
					table.table.table-striped.table-condensed
						thead
							tr
								th Payment ID
								th Subscription ID
								th Charge Date
								th Description
								th Status
								th Amount
						tbody
							each payment, p in payments
								tr
									td
										a( href="https://manage.gocardless.com/payments/" + payment.paymentId ) #{ payment.paymentId }
									td 
										a( href="https://manage.gocardless.com/subscriptions/" + payment.subscriptionId ) #{ payment.subscriptionId }
									td #{ moment( payment.chargeDate ).format( 'DD/MM/YYYY' ) }
									td #{ payment.description }
									td: +paymentStatus(payment)
									td
										| #{ payment.amount ? currencySymbol + payment.amount : '–' }
										if payment.amountRefunded
											|  (-#{currencySymbol}#{payment.amountRefunded})
						tfoot
							tr
								th( colspan=5 ) Total
								th #{currencySymbol}#{ total }
			else
				p Contact has no payment history
