extends /views/base.pug

block prepend title
	- title = 'Callout'

block contents
	.row
		.col-md-12
			+page_header('Callout: ' + poll.title)

			dl.dl-horizontal
				dt Status
				dd
					+itemStatus(poll)
					include partials/poll-tags
				dt Created
				dd= moment(poll.date).format('DD/MM/YYYY [at] HH:mm')
				dt Update answers?
				dd= poll.allowUpdate ? 'Yes' : 'No'
				dt URL
				dd
					a(href='/polls/' + poll.slug)= '/polls/' + poll.slug
					|
					|
					if !poll.active
						a(href='/polls/' + poll.slug + '?preview=1').btn.btn-xs.btn-default Preview
				dt Responses
				dd= responsesCount

			hr

	.row

		.col-md-8
			h4 Set merge fields

			form(method='POST').form-horizontal
				+csrf
				.form-group
					label(for='mergeField').control-label.col-md-3 MailChimp merge field
					.col-md-9
						input(type='text' name='mcMergeField' maxlength='10' value=poll.mcMergeField)#mergeField.form-control
				.form-group
					label(for='pollMergeField').control-label.col-md-3 Poll merge field
					.col-md-9
						input(type='text' name='pollMergeField' value=poll.pollMergeField)#pollMergeField.form-control
				.form-group
					.col-md-offset-3.col-md-9
						button(name='action' value='update').btn.btn-success Update

			h4 Clear responses

			p.
				Clear all the responses to this poll, you will not be able to recover
				the responses.

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete-responses').btn.btn-danger Clear
