h4 Payments
if payments.length > 0
	.table-responsive
		table.table.table-striped.table-condensed
			thead
				tr
					th Payment ID
					th Subscription ID
					th Charge Date
					th Description
					th Status
					th Amount
			tbody
				each payment, p in payments
					tr
						td
							a( href="https://manage.gocardless.com/payments/" + payment.paymentId ) #{ payment.paymentId }
						td 
							a( href="https://manage.gocardless.com/subscriptions/" + payment.subscriptionId ) #{ payment.subscriptionId }
						td #{ moment( payment.chargeDate ).format( 'DD/MM/YYYY' ) }
						td #{ payment.description }
						td: +paymentStatus(payment)
						td
							| #{ payment.amount ? '£' + payment.amount : '–' }
							if payment.amountRefunded
								|  (-£#{payment.amountRefunded})
			tfoot
				tr
					th( colspan=5 ) Total
					th £ #{ total }
else
	p Member has no payment history
