extends /views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='/static/js/join.js?v=' + git)

block body
	header.join-header#join
		.join-header__bg

		form(method='POST').join-form.js-join-form
			+csrf

			if user
				p.alert.alert-warning
					| You're already a member! Not #{user.firstname}?
					| #[a(href='/logout').alert-link Click here] to logout

			h1.join-title.text-center.
				Join 2,600 people building a new kind of newspaper

			p.
				All members become co-owners of the Bristol Cable, with exclusive
				opportunities to have a say while supporting quality journalism and
				our innovative model.

			p.
				Chip in a £3/month or more and get the Cable quarterly print edition
				sent directly to your door.
	

			if referrer
				.join-referrer
					.join-referrer-icon
						<svg xmlns="http://www.w3.org/2000/svg" width="70" height="105" viewBox="4 0 16 24"><path fill="currentColor" d="M14.5 15h1.5v9l-3.958-3-4.042 3v-9h1.463c.83.582 1.381 1 2.537 1 .975 0 1.88-.415 2.5-1zm-2.5-12c-2.205 0-4 1.794-4 4s1.795 4 4 4c2.206 0 4-1.794 4-4s-1.794-4-4-4zm6.926 5.277c.051.147.074.297.074.445 0 .449-.222.883-.615 1.156-1.256.87-1.09.651-1.562 2.067-.198.591-.77.99-1.414.99h-.004c-1.549-.005-1.279-.088-2.528.789-.262.184-.569.276-.877.276s-.615-.092-.876-.275c-1.249-.878-.98-.794-2.528-.789h-.004c-.645 0-1.216-.399-1.413-.99-.473-1.417-.311-1.198-1.562-2.067-.395-.274-.617-.708-.617-1.157 0-.148.024-.298.074-.444.483-1.411.484-1.139 0-2.555-.05-.147-.074-.297-.074-.445 0-.45.222-.883.616-1.157 1.251-.868 1.089-.648 1.562-2.067.197-.591.769-.99 1.413-.99h.004c1.545.005 1.271.095 2.528-.79.262-.183.569-.274.877-.274s.615.091.876.274c1.249.878.98.795 2.528.79h.004c.645 0 1.216.399 1.414.99.473 1.416.307 1.197 1.562 2.067.394.273.616.707.616 1.156 0 .148-.023.299-.074.445-.483 1.41-.485 1.139 0 2.555zm-1.926-1.277c0-2.761-2.238-5-5-5-2.761 0-5 2.239-5 5s2.239 5 5 5c2.762 0 5-2.239 5-5z"/></svg>
					div
						h3.join-referrer-hello #{referrer.firstname} thinks you should join the Cable
						p.
							We agree! Become a member today and we'll
							#[b send you both a gift as a thank you] for helping
							us sustain independent local journalism.

			include /views/partials/flash.pug

			h3 I'd like to contribute…
			ul.join-options.hidden-nojs
				each amount in [3, 5, 10]
					li.join-options__opt
						- checked = referrer && amount == 5
						input(type='radio', name='amount', id='amount_' + amount, value=amount, required, checked=checked).js-join-amount
						label(for='amount_' + amount).btn.btn-lg.btn-primary £#{amount}#[span.join-monthly /month]

			div.join-other-amount
				input(type='radio', name='amount', value='other', required, checked=!referrer).js-join-other-amount
				label
					.hidden-nojs Or choose an amount…
					.join-other-amount-box
						span £
						input(type='number', name='amountOther', min=1, step=1, required).join-other-amount-box__input.js-join-other-amount-box
						span.join-monthly /month

			.hidden-js.js-join-form-more
				if referrer
					h3 I'd like my gift to be a…
					input(type='hidden', name='referralCode', value=referrer.referralCode)
					p.hidden.js-join-sustain.
						Unfortunately its not financially viable for us to send gifts
						for contributions of less than £3 a month.
					include /views/partials/gifts
					p.join-info.small.
						Find out more about the referral scheme
						#[a(href='https://thebristolcable.org/referafriend', target='_blank') here].
				else
					.hidden.js-join-paper
						h4
							img(src='/static/imgs/join/newspaper.png').join-paper
							| We'll send you a copy in the post!
					.hidden.js-join-sustain
						h4
							img(src='/static/imgs/join/newspaper.png').join-paper
							| Want a copy in the post?
						p.
							If you chip in £3 or more a month, or £36 a year, we will send
							you a copy of each quarterly print edition in the post.

				h3 I'd like to pay…
				ul.join-options
					li.join-options__opt
						input(type='radio', name='period', id='period_m', value='monthly', required, checked).js-join-period
						label(for='period_m').btn.btn-lg.btn-primary Monthly
					li.join-options__opt
						input(type='radio', name='period', id='period_a', value='annually', required).js-join-period
						label(for='period_a').btn.btn-lg.btn-primary Annually
					li.join-options__opt

				.js-join-fee
					p
						| Our payment processor charges us per transaction, which means we receive
						| less from monthly contributions.
						|
						b
							span.js-join-fee-opt Are you happy to absorb the #[span.js-join-fee-amount 1% + 20p] transaction fee?
							|
							|
							span.js-join-fee-force For £1 contributions you must absorb the fee.
						|
						|
						span.hidden-nojs
							| Alternatively you could
							| 
							label(for='period_a').join-link pay annually
							| .
					.checkbox
						label
							input(type='checkbox' name='payFee' value='true' checked).join-pay-fee.js-join-pay-fee
							| Yes, I'll absorb the #[span.js-join-fee-amount 1% + 20p] fee.

				p.hidden-nojs.join-charge You will be charged #[b.js-join-charge].
				p
					button.btn.btn-success.btn-lg.join-btn Join

				p.join-info.join-secure.small
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
						path(fill='currentColor', d='M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z')
					| Your payment will be processed securely with GoCardless
					| under the
					|
					a(href='https://www.directdebit.co.uk/DirectDebitExplained/pages/directdebitguarantee.aspx', target='_blank') Direct Debit Guarantee scheme
					| .

	.container
		.row
			.col-md-offset-2.col-md-8
				h2.text-center Why become a member?

				p.
					When you join the Cable, you support a new kind of newspaper for
					Bristol.

				p.
					We are 100% owned by thousands of local people. We produce quality
					local journalism in print and online, free to access for all.

				p.
					Together, we hold power accountable through groundbreaking
					investigations, we campaign for change, and we amplify marginalised
					voices. We are rooted in local communities, but part of a global
					movement to reinvent local media.

				p.
					This is only made possible by people like you.

				p.
					As a member you get a democratic stake in the Cable, access to events
					and the best journalism sent directly to you. 

		ul.join-reasons
			li
				.row
					.col-sm-6
						h3 Journalism with impact
				.row
					.col-sm-6.pull-right
						img(src='https://static.thebristolcable.org/uploads/2020/05/6thedition-pile-of-papers-header-1900x1080-1-768x437.jpg')
					.col-sm-6

						p.
							Our journalism focuses on stories that matter: Stories which
							aren’t covered enough. Things which need to be changed.

						p.
							Through our investigative and in-depth reporting, we show what’s
							really going on in Bristol.  Our journalism has helped change
							policies, sparked lawsuits and informed campaigns. 

						p.
							The Cable is the winner of the 2019 British Journalism Award for
							local journalism and has been shortlisted for an Orwell
							Foundation Prize 2020.
			li
				.row
					.col-sm-6.col-sm-offset-6
						h3 Owned by you
				.row
					.col-sm-6.pull-left
						img(src='/static/imgs/join/photo2.jpg')
					.col-sm-6
						p.
								The Cable is Bristol’s only newspaper whose independence is
								guaranteed by members. There are no majority shareholders or
								commercial investors, and we do not accept corporate advertising.

						p.
							Now more than 2,600 local people directly fund and own a stake
							in the Cable.

						p.
							By becoming a member, you support our journalism to be free to
							access for all. You also join our cooperative, meaning you can
							help inform our journalism and decide what we do.
			li
				.row
					.col-sm-6
						h3 Rooted in communities
				.row
					.col-sm-6.pull-right
						img(src='https://static.thebristolcable.org/uploads/2020/05/20181030_Cable_Workshop_006-14-768x512.jpg')
					.col-sm-6
						p.
							Journalism is better when it’s informed by the people it’s about.
							Since our journalism is about Bristol, we’re constantly talking,
							listening, and collaborating with local people.

						p.
							We’re also working to change the media for good. Over the last
							five years we’ve supported dozens of people with in-depth
							training to create pathways for more people to get into
							journalism.
	.join-footer
		h1.join-title.join-ts Join us today
		.text-center
			h3.join-ts Join 2,600 others and own your media
			a(href='#join').btn.btn-success.btn-lg Join now
