form(
	method='post'
	data-amount=user.contributionMonthlyAmount
	data-active=user.isActiveMember
	data-next=moment(user.memberPermission.date_expires).format('dddd, MMMM Do YYYY')
	data-months=monthsLeft
).form-horizontal.js-update-form
	+csrf

	.form-group
		label( for='amount' ).col-md-3.control-label Amount
		.input-group.col-md-4
			span.input-group-addon £
			input( type='number', name='amount', id='amount', value=user.contributionMonthlyAmount, required, min=1, step=1 ).form-control.js-new-amount-input
			span.input-group-addon / month
	
	if user.hasActiveSubscription
		input(type='hidden' name='period' value=user.contributionPeriod)
	else
		.form-group
			label.col-md-3.control-label Period
			.col-md-9
				label.radio-inline
					input(
						type='radio' name='period' value='monthly' required
						checked=user.contributionPeriod === 'monthly'
					)
					| Monthly
				label.radio-inline
					input(
						type='radio' name='period' value='annually' required
						checked=user.contributionPeriod === 'annually'
					)
					| Annually

	.form-group
		label.col-md-3.control-label Bank account
		.col-md-9
			if bankAccount
				.radio
					label
						input(type='radio', name='useMandate', value='true', required, checked)
						span
							= bankAccount.account_holder_name
							| ,
							|
							= bankAccount.bank_name
							| , •••••••
							= bankAccount.account_number_ending
				.radio
					label
						input(type='radio', name='useMandate', value='false', required)
						span New bank account details
						br
						i You'll be asked for your bank details in the next step
			else
				.form-control-static
					input(type='hidden', name='useMandate', value='false')
					span We don't have any bank details for you
					br
					i You'll be asked for your bank details in the next step

	if monthsLeft < 1
		input(type='hidden' name='prorate' value='false')
	else
		.hidden.js-new-amount-more
			p.alert.alert-info.
				Your current contribution runs for another #{monthsLeft} months, if you
				want to start your new contribution immediately we can take a one-off
				payment of £#[span.js-new-amount-prorated -].

			.form-group(style="margin-bottom: 0")
				.col-md-12
					.radio
						label
							input(type='radio' name='prorate' value='true' required checked)
							| Yes, take a one-off payment of £
							span.js-new-amount-prorated -
							|
							| to start my new contribution now
					.radio
						label
							input(type='radio' name='prorate' value='false' required)
							| No, I'll wait until
							|
							= moment(user.memberPermission.date_expires).format('DD/MM/YYYY')
							|
							| to start my new contribution
					p
					p.small
						a(href="#").js-new-amount-prorated-toggle How is my one-off payment calculated?

					.panel.panel-default.hidden.js-new-amount-prorated-calc
						.panel-body
							p.
								We calculated your one-off payment based on having
								#[b #{monthsLeft} months] left in your payment cycle, with
								an old contribution of
								#[b £#{user.contributionMonthlyAmount}/month] and a new
								contribution of
								#[b £#[span.js-new-amount]/month].
							table.table.table-condensed.text-right
								thead
									tr
										th Amount
										th Calculation
										th Description
								tbody
									tr
										td £#[span.js-new-amount-prorated-new]
										td £#[span.js-new-amount] * #{monthsLeft}
										td.text-left Partial payment for new contribution
									tr
										td - £#{user.contributionMonthlyAmount * monthsLeft}
										td £#{user.contributionMonthlyAmount} * #{monthsLeft}
										td.text-left Partial refund for old contribution
									tr
										td
											b £#[span.js-new-amount-prorated]
										td
										td

	.js-new-charge.hidden
		hr
		p.js-new-charge-message

	p
		button.btn.join-btn Submit

if user.hasActiveSubscription
	p.
		To change your payment cycle please contact
		#[+email('membership@thebristolcable.org')].
