extends /src/views/base.pug

block prepend title
	- title = 'Referral gift: ' + gift.label

block contents
	.row
		.col-md-12
			+page_header('Referral gift: ' + gift.label)

	.row
		.col-md-12
			form(method='POST').form-horizontal
				+csrf
				+input( 'text', 'Name', 'name', { value: gift.name, left: 3, right: 5, readonly: true } )
				+input( 'text', 'Label', 'label', { value: gift.label, left: 3, right: 5 } )
				+input( 'text', 'Description', 'description', { value: gift.description, left: 3, right: 5 } )

				.form-group
					.col-md-6.col-md-offset-3
						button(name='action' value='update-gift').btn.btn-primary Update

			hr

			h3 Options
			form(method='POST')
				+csrf
				table.table.table-striped
					thead
						tr
							th Key
							th Options
							th
					tbody
						each option in gift.options
							tr
								td
									input(type='text' name='option_name[]' value=option.name).form-control
								td
									input(type='text' name='option_values[]' value=option.values.join(', ')).form-control
								td
									button(name='delete-option' value=option.name).btn.btn-sm.btn-danger
										i.glyphicon.glyphicon-trash
						tr
							td
								input(type='text' name='option_name[]').form-control
							td
								input(type='number' name='option_values[]').form-control
							td
				p
					button(name='action' value='update-options').btn.btn-primary Update

			hr

			h3 Stock
			form(method='POST')
				+csrf
				table.table.table-striped
					thead
						tr
							th Stock reference
							th Count
							th
					tbody
						each count, stock_ref in stock
							tr
								td
									input(type='text' name='stock_ref[]' value=stock_ref).form-control
								td
									input(type='number' name='stock_count[]' + stock_ref value=count).form-control
								td
									button(name='delete-stock' value=stock_ref).btn.btn-sm.btn-danger
										i.glyphicon.glyphicon-trash
						tr
							td
								input(type='text' name='stock_ref[]').form-control
							td
								input(type='number' name='stock_count[]').form-control
							td
				p
					button(name='action' value='update-stock').btn.btn-primary Update

			hr

			h3 Delete
			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
