extends /views/base.pug

block prepend title
	- title = 'Referral gift: ' + gift.label

block contents
	.row
		.col-md-12
			+page_header('Referral gift: ' + gift.label)

	.row
		.col-md-12
			form(method='POST').form-horizontal
				+csrf
				+input( 'text', 'Name', 'name', { value: gift.name, left: 3, right: 5, readonly: true } )
				+input( 'text', 'Label', 'label', { value: gift.label, left: 3, right: 5 } )
				+input( 'text', 'Description', 'description', { value: gift.description, left: 3, right: 5 } )
				+input( 'number', 'Min amount', 'minAmount', { value: gift.minAmount, left: 3, right: 5 } )
				.form-group
					.col-md-offset-3.col-md-9
						.checkbox-inline
							input(type='checkbox' name='enabled' value='true' checked=gift.enabled)
							| Enabled

				.form-group
					.col-md-6.col-md-offset-3
						button(name='action' value='update-gift').btn.btn-primary Update

			hr

			h4 Options
			form(method='POST')
				+csrf
				table.table.table-striped
					thead
						tr
							th Key
							th Options
							th
					tbody
						each option in gift.options
							tr
								td
									input(type='text' name='optionNames[]' value=option.name).form-control
								td
									input(type='text' name='optionValues[]' value=option.values.join(', ')).form-control
								td
									button(type='button').btn.btn-sm.btn-danger.js-gift-delete-row
										i.glyphicon.glyphicon-trash
						tr
							td
								input(type='text' name='optionNames[]').form-control
							td
								input(type='text' name='optionValues[]').form-control
							td
				p
					button(name='action' value='update-options').btn.btn-primary Update

			hr

			h4 Stock
			form(method='POST')
				+csrf
				table.table.table-striped
					thead
						tr
							th Stock reference
							th Count
							th
					tbody
						each [stockRef, stockCount] of gift.stock
							tr
								td
									input(type='text' name='stockRefs[]' value=stockRef).form-control
								td
									input(type='number' name='stockCounts[]' stockRef value=stockCount).form-control
								td
									button(type='button').btn.btn-sm.btn-danger.js-gift-delete-row
										i.glyphicon.glyphicon-trash
						tr
							td
								input(type='text' name='stockRefs[]').form-control
							td
								input(type='number' name='stockCounts[]').form-control
							td
				p
					button(name='action' value='update-stock').btn.btn-primary Update

block append js
	script.
		$('.js-gift-delete-row').on('click', function (evt) {
			$(this).parents('tr').remove();
		});
