- isNew = poll === undefined
- poll = poll || {}

form(method='POST').form-horizontal
	+csrf
	.form-group
		label(for='title').control-label.col-md-3 Title
		.col-md-9
			input(type='text' name='title' value=poll.title required)#title.form-control
	.form-group
		label(for='slug').control-label.col-md-3 Slug
		.col-md-9
			input(type='text' name='slug' value=poll.slug required readonly=!isNew)#slug.form-control
	if isNew
		.form-group
			label(for='template').control-label.col-md-3 Template
			.col-md-9
				select(name='template' required)#template.form-control
					option(value='' disabled selected) Select template
					each template in ['custom', 'builder', 'ballot']
						option(value=template)= template[0].toUpperCase() + template.slice(1)
	else
		input(type='hidden' name='template' value=poll.template)
	if !isNew
		.form-group
			label(for='mergeField').control-label.col-md-3 MailChimp merge field
			.col-md-9
				input(type='text' name='mcMergeField' maxlength='10' value=poll.mcMergeField)#mergeField.form-control
		.form-group
			label(for='pollMergeField').control-label.col-md-3 Poll merge field
			.col-md-9
				input(type='text' name='pollMergeField' value=poll.pollMergeField)#pollMergeField.form-control
	.form-group
		label(for='starts').control-label.col-md-3 Starts (UTC)
		.col-md-3
			input(type='date', name='startsDate' value=poll.starts ? moment.utc(poll.starts).format('YYYY-MM-DD') : '')#starts.form-control
		.col-md-3
			input(type='time', name='startsTime' value=poll.starts ? moment.utc(poll.starts).format('HH:mm') : '').form-control
	.form-group
		label(for='expires').control-label.col-md-3 Expires (UTC)
		.col-md-3
			input(type='date', name='expiresDate' value=poll.expires ? moment.utc(poll.expires).format('YYYY-MM-DD') : '')#expires.form-control
		.col-md-3
			input(type='time', name='expiresTime' value=poll.expires ? moment.utc(poll.expires).format('HH:mm') : '').form-control
	.form-group
		.col-md-offset-3.col-md-9
			label.checkbox-inline
				input(type='checkbox' name='public' value='true' checked=poll.public)
				| Allow guests to respond
	
	if isNew
		.form-group
			.col-md-offset-3.col-md-9
				label.checkbox-inline
					input(type='checkbox' name='allowUpdate' value='true')
					| Allow users to update their answers
		input(type='hidden' name='closed' value='true')
	else
		input(type='hidden' name='allowUpdate' value=poll.allowUpdate ? 'true' : 'false')
		.form-group
			.col-md-offset-3.col-md-9
				label.checkbox-inline
					input(type='checkbox' name='closed' value='true' checked=poll.closed)
					| Closed

	.form-group
		.col-md-offset-3.col-md-9
			button(name='action' value='update').btn.btn-success= isNew ? 'Create' : 'Update'

