extends /src/views/base.pug

block prepend title
	- title = 'Email send'

block contents
	.row
		.col-md-12
			+page_header(email.name)

			p This mailing has #{send.recipients.length} recipients

	.row
		.col-md-8
			h4 Send

			if send.sentDate
				.alert.alert-warning This mailing was last sent on #{moment.utc(send.sentDate).format('YYYY-MM-DD')}

			form(method='POST').form-horizontal.js-email-form
				+csrf
				.form-group
					label(for='email').control-label.col-md-4 Email address
					.col-md-8
						select(name='emailField' required).form-control#email
							option(selected disabled value='') Select one
							each header in headers
								option= header
				.form-group
					label(for='name').control-label.col-md-4 Name
					.col-md-8
						select(name='nameField' required).form-control#name
							option(selected disabled value='') Select one
							each header in headers
								option= header

				each mergeField in mergeFields
					.form-group
						label(for='mf_' + mergeField).control-label.col-md-4= `*|${mergeField}|*`
						.col-md-8
							select(name=`mergeFields[${mergeField}]` id='mf_' + mergeField required).form-control
								option(selected disabled value='') Select one
								each header in headers
									option= header
				.form-group
					.col-md-offset-4.col-md-8
						button.btn.btn-danger Send

			h5 Preview
			.form-group
				input(type='text' readonly).form-control.js-email-to
			.form-group
				input(type='text' readonly value=email.subject).form-control
			.form-group
				textarea(readonly rows="10").form-control.js-email-body

block append js
	script.
		var emailPreviewEl = $('.js-email-preview');
		var emailBodyTemplate = !{JSON.stringify(email.body)};
		var recipient = !{JSON.stringify(send.recipients[0])};
		var mergeFields = !{JSON.stringify(mergeFields)};

		$('.js-email-form').on('input change', function () {
			$('.js-email-to').val(recipient[$('#name').val()] + ' <' + recipient[$('#email').val()] + '>');
			var emailBody = emailBodyTemplate;
			for (mergeField of mergeFields) {
				const mergeFieldRe = new RegExp('\\*\\|' + mergeField + '\\|\\*', 'g');
				emailBody = emailBody.replace(mergeFieldRe, recipient[$('#mf_' + mergeField).val()]);
			}
			$('.js-email-body').val(emailBody);
		});

		$('.js-email-form').trigger('input');
