extends /src/views/base.pug

block prepend title
	- title = app.title

block body
	header.join-header-static

	.container
		.row
			.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2

				h2= delivery_address.line1 ? 'That\'s it!' : 'Almost done!'

				p.
					Thank you for helping to sustain independent local journalism. We'll
					start #{firstname}'s membership on #{moment(startDate).format('MMMM Do')}
					and send them an email welcoming them to the Cable.

				if processed
					.alert.alert-success.
						#{firstname}'s gift has now started

				else

					if delivery_address.line1
						p
							| If you have any questions please get in touch at
							|
							a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org
							| .
					else
						h3 Where shall we send the card?
						form( method="post" ).form-horizontal
							+csrf

							include /src/views/partials/flash

							p
								| We'll also send their copies of the Cable print edition and mug to this address.
								|
								b If you don't know #{firstname}'s address we'll ask them when they activate their account
								| , but this means they won't receive their card until then.
								|
								| If you want to send their copies and mug to a separate address please
								|
								a(href='mailto:membership@thebristolcable.org') get in touch
								| .

							+input( 'text', 'Address line 1', 'delivery_line1', { required: true, left: 4, right: 6 } )
							+input( 'text', 'Address line 2', 'delivery_line2', { left: 4, right: 6 } )
							+input( 'text', 'City/town', 'delivery_city', { required: true, left: 4, right: 6 } )
							+input( 'text', 'Postcode', 'delivery_postcode', { required: true, left: 4, right: 6 } )

							.col-md-offset-4.col-md-6
								button.btn.btn-success Confirm
