extends /src/views/base.pug

block prepend title
	- title = 'Project'

block append js
	script.
		$.support.transition = false;

block contents
	.row
		.col-md-12
			+page_header(project.title)

	.row
		.col-md-8
			dl.dl-horizontal
				dt Description
				dd= project.description
				dt Status
				dd: .label.label-default= project.status
				dt Created
				dd= moment(project.date).format('DD/MM/YYYY [at] HH:mm')
				dt Owner
				dd: a(href='/members/' + project.owner.uuid)= project.owner.fullname
	
	.row
		.col-md-12
			hr

			h4#members
				a(href='/members?addToProject=' + project._id).btn.btn-xs.btn-default.pull-right
					span.glyphicon.glyphicon-plus
					|
					|
					| Add
				| Members

			if projectMembers.length > 0
				.members-table
					each pm in projectMembers
						- pmId = 'pm_' + pm._id
						.members-table-row
							a(href='#' + pmId data-toggle='collapse').members-table-row-link
							+membersTableBasicInfo(pm.member)
							if pm.tag
								span
									.label.label-primary= pm.tag
							span
								if pm.engagement.length > 0
								else
									| Never engaged
							span.members-table-action
								a(href='/members/' + pm.member.uuid).btn.btn-xs.btn-default
									span.glyphicon.glyphicon-user
						.collapse(id=pmId)
							.projects-member-view
								.row
									.col-md-3
										form(method='POST').form-inline
											+csrf
											input(type='hidden' name='pmId' value=pm._id)
											.form-group
												input(type='text' name='tag' id=pmId + '_tag' placeholder='Project tag' size='10' value=pm.tag).form-control
											|
											|
											.form-group
												button(name='action' value='update-member-tag').btn.btn-success
													span.glyphicon.glyphicon-ok
									.col-md-9
										.projects-member-contact
											.input-group
												span.input-group-addon
													span.glyphicon.glyphicon-envelope
												input(type='text' value=pm.member.email readonly).form-control
											.input-group
												span.input-group-addon
													span.glyphicon.glyphicon-earphone
												input(type='text' name='telephone' value=pm.member.contact.telephone readonly).form-control
											.input-group
												span.input-group-addon
													img(src='/static/imgs/twitter.png')
												input(type='text' name='twitter' value=pm.member.contact.twitter readonly).form-control
										p Preferred contact: #{pm.member.contact.preferred || '-'}
								.row
									.col-md-12
										| Engagement

			else
				.alert.alert-info No members

			hr

			h4
				a(href='/tools/polls/create?addToProject=' + project._id).btn.btn-xs.btn-default.pull-right
					span.glyphicon.glyphicon-plus
					|
					|
					| Add
				| Callouts

			if project.polls.length > 0
				table
					thead
						th Title
					tbody
						each poll in project.polls
							tr
								td= poll.question
			else
				.alert.alert-info No callouts

			hr

	.row
		.col-md-8
			h4 Update project
			include partials/project-form

