if menu && menu.main.length > 0
	nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				button(
					type="button",
					data-toggle="collapse",
					data-target="#menu",
					aria-expanded="false"
				).navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#menu
				ul.nav.navbar-nav
					each menuEntry in menu.main
						if menuEntry.subMenu.length > 0
							li.dropdown( class=menuEntry.active ? "active" : "" )
								a(
									href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false"
								).dropdown-toggle= menuEntry.title
									span.caret
								ul.dropdown-menu
									unless menuEntry.hidden
										li
											a( href="/" + menuEntry.path )= menuEntry.title
									each subMenuEntry in menuEntry.subMenu
										li
											a( href="/" + menuEntry.path + "/" + subMenuEntry.path )= subMenuEntry.title
						else
							li( class=menuEntry.active ? "active" : "" )
								a( href="/" + menuEntry.path )= menuEntry.title
