span.list-group-item( class=( permission.dateAdded > moment() || permission.dateExpires != undefined && permission.dateExpires < moment() ? 'disabled' : '' ) )
	h5.list-group-item-heading
		= permission.permission[0].toUpperCase()
		= permission.permission.slice(1)
	p.list-group-item-text Valid&nbsp;
		time( datetime=moment( permission.dateAdded, moment.ISO_8601 ), title=moment( permission.dateAdded ).format( 'HH:mm:ss DD/MM/Y' ) ) #{ moment( permission.dateAdded ).format( 'DD/MM/Y' ) }
		if permission.dateExpires
			|  &mdash;
			time( datetime=moment( permission.dateExpires, moment.ISO_8601 ), title=moment( permission.dateExpires ).format( 'HH:mm:ss DD/MM/Y' ) ) #{ moment( permission.dateExpires ).format( 'DD/MM/Y' ) }

		else
			|  onwards
	if access( 'admin' )
		span( style="position: absolute; top: 1em; right: 1em;" )
			a( href="/members/" + member.id + "/permissions/" + permission.permission + "/modify", style="margin-right: 1em;" )
				span.glyphicon.glyphicon-pencil
			form(
				action="/members/" + member.id + "/permissions/" + permission.permission + "/revoke",
				method="post",
				style="display:inline;"
				onclick="return confirm('Are you sure?')"
			)
				+csrf
				button.btn-link
					span.glyphicon.glyphicon-remove
