form( method="post" )
	+csrf
	if ! partial
		.form-group
			label( for="permission" ) Role:
			select( name="permission" )#permission.form-control
				option( disabled selected ) –
				each permission in ['access', 'member', 'admin', 'superadmin']
					option(
						selected=( current != undefined && permission == current.permission.slug ),
						value=permission
					)= permission
	.form-group
		label Start
		br
		- date = current ? current.dateAdded : moment();
		input( type="time", name="startTime", value=moment( date ).format( 'HH:mm' ), style="display: inline; width: auto;" ).form-control
		| &nbsp;
		input( type="date", name="startDate", value=moment( date ).format( 'YYYY-MM-DD' ), style="display: inline; width: auto;" ).form-control
	.form-group
		label Expires
		br
		input( type="time", name="expiryTime", value=( current && current.dateExpires ? moment( current.dateExpires ).format( 'HH:mm' ) : '' ), style="display: inline; width: auto;" ).form-control
		| &nbsp;
		input( type="date", name="expiryDate", value=( current && current.dateExpires ? moment( current.dateExpires ).format( 'YYYY-MM-DD' ) : '' ), style="display: inline; width: auto;" ).form-control
	.form-group
		button.btn.btn-primary #{ action }
