extends /views/base.pug

block prepend title
	- title = 'Export'

block contents
	.row
		.col-md-12
			+page_header(exportDetails.description)
			p.
				#{exportType.exportName}, created
				#{moment(exportDetails.date).format('DD/MM/YYYY [at] HH:mm')}

			p
				| There are #{exportItems.length} #{exportType.itemName} in this export.

			if exportDetails.params
				dl.dl-horizontal
					each value, name in exportDetails.params
						dt= name
						dd= value

			ul
				li
					| New #{exportType.itemName} (#{newItemCount})
					|
					a(href='/tools/exports/' + exportDetails.id + '/items/new').btn.btn-xs.btn-info Show
					|
					|
					if newItemCount > 0
						form(method='POST' style='display: inline')
							+csrf
							button(name='action' value='add').btn.btn-xs.btn-success Add
				for status in exportItemsByStatus
					li(style='padding-top: 0.5rem')
						| #{status.name[0].toUpperCase() + status.name.slice(1)} #{exportType.itemName} (#{status.items.length})
						|
						a(href='/tools/exports/' + exportDetails.id + '/items/' + status.name).btn.btn-xs.btn-info Show

	.row
		.col-md-8
			hr

			h4 Run export
			p Export a CSV of all #{exportType.itemName} with a given status
			form(method='POST', target='_blank').form-horizontal
				+csrf
				.form-group
					label(for='status').form-label.col-md-3 Status
					.col-md-4
						select(id='status', name='status').form-control
							option(value='') -- All --
							each status in exportType.itemStatuses
								option= status

				button(name='action' value='export').btn.btn-primary Export

			hr

			h4 Update #{exportType.itemName}
			form(method='POST').form-horizontal
				+csrf

				.form-group
					label(for='oldStatus').form-label.col-md-3 Old status
					.col-md-4
						select(id='oldStatus', name='oldStatus').form-control
							each status in exportType.itemStatuses
								option= status

				.form-group
					label(for='newStatus').form-label.col-md-3 New status
					.col-md-4
						select(id='newStatus', name='newStatus').form-control
							each status in exportType.itemStatuses
								option= status

				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed

				button(name='action' value='update').btn.btn-warning Update

			hr

			h4 Delete export

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
