extends /src/views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='/static/js/poll-agm2019.js?v=' + git)

block flashes

block contents
	.row
		.col-md-12
			+page_header(poll.question)

	.row
		.col-md-offset-2.col-md-8
			img(src='/static/imgs/polls/agm2019/title.png').poll-title-image
			if answers.rsvp
				.alert(class='alert-' + (answers.rsvp === 'yes' ? 'success' : 'warning'))
					if answers.rsvp === 'yes'
						| You are coming to the AGM!
					else
						| You aren't coming to the AGM.
					if poll.active || preview
						|
						|
						a(href='#vote') You can change your reply below.

			p #[b When:] 6.30pm, Monday 14th October

			p #[b Where:] The Station, Silver St, Bristol BS1 2AG

			p.
				We’re pleased to invite you to the Bristol Cable Annual General
				Meeting 2019, where Cable members help steer the co-op for the year
				ahead.

			p.
				The AGM is the most important moment in the Cable year for us all
				to come together, reflect, celebrate and make big plans for what’s
				next. We’ll be electing new directors and working through some
				important questions together. As well as marking the Cable’s 5th
				Birthday!

			p.
				The AGM will be a lively event with interactive activities,
				interesting conversation, cups of tea and delicious snacks! For a
				flavour of the event take a look at
				#[a(href='https://www.facebook.com/watch/?v=837090986489681' target='_blank') this video]
				of last year.

			p The event is child-friendly and there will be a creche / play area.

			hr#vote

			if poll.active || preview

				if answers.rsvp
					img(src='/static/imgs/polls/hand3.png').poll-hand3

					h3 Thanks for your reply
					
					p
						if answers.rsvp === 'yes'
							| We look forward to seeing you there! We'll be sending out
							| more details over the next few weeks.
						else
							| We'll be sending out more details on how you can still have
							| you say over the next few weeks.

					p.
						If your availability changes you can update your RSVP below.

					hr(style='clear: both')

				form(method='POST' action='#vote').js-poll-agm2019-form
					+csrf

					include /src/views/partials/flash.pug

					.alert.alert-warning.
						Please note that RSVPs are now at capacity. Depending on drop
						outs we maybe be able to get more people in but that will be on
						a first come, first served basis.

					.poll-section
						h3 Can you come to the AGM?

						.poll-agm2019-options
							input(type='radio' name='answers[rsvp]' value='yes' required checked=answers.rsvp === 'yes')#answer1
							label(for='answer1').btn Yes
							input(type='radio' name='answers[rsvp]' value='no' required checked=answers.rsvp === 'no')#answer2
							label(for='answer2').btn No

					.hidden.js-poll-agm2019-section(data-name='answers[rsvp]' data-value='yes')
						.poll-section
							h4 Great! Just a few quick questions...

							p ...to make sure we have everything we need on the night.

						.poll-section
							h4 1. Are you bringing children to be looked after in the creche?

							p.
								The creche will be staffed by DBS-checked people, and is in
								the same room as the AGM.

							.poll-agm2019-options
								input(type='radio' name='answers[creche]' value='yes' required disabled checked=answers.creche === 'yes')#crecheyes
								label(for='crecheyes').btn Yes
								input(type='radio' name='answers[creche]' value='no' required disabled checked=answers.creche === 'no')#crecheno
								label(for='crecheno').btn No

							.hidden.js-poll-agm2019-section(data-name='answers[creche]' data-value='yes')
								p Please let us know how many children and their ages:
								.form-group
									input(type='text' name='answers[creche_details]' value=answers.creche_details required disabled).form-control

						.poll-section
							h4 2. Accessibility
							p.
								The venue is wheelchair accessible (with accessible toilets and
								smoking area). The front of the venue has level paved access
								and on street parking directly outside.
								#[b Do you have any other access needs to allow you to take part?]
							.form-group
								input(type='text' name='answers[accessibility]' value=answers.accessibility).form-control

						.poll-section
							h4 3. Would you like to volunteer?
							p.
								We need some members to help out on the night to help the
								event go smoothly. This would mean turning up at 5.30pm.

							.poll-agm2019-options
								input(type='radio' name='answers[volunteer]' value='yes' required disabled checked=answers.volunteer === 'yes')#volunteeryes
								label(for='volunteeryes').btn Yes
								input(type='radio' name='answers[volunteer]' value='no' required disabled checked=answers.volunteer === 'no')#volunteerno
								label(for='volunteerno').btn No

						.poll-section
							h4 4. Is there anything you'd like to see discussed?
							p.
								Your input here will help inform the agenda for the evening.

							.form-group
								input(type='text' name='answers[discuss]' value=answers.discuss).form-control

						.poll-section
							h4 5. And finally, have you been to a Cable AGM before?
							p.
								We’re collecting this information to work out how many of our
								members we’re engaging and how to include more members in our
								events.

							.poll-agm2019-options
								input(type='radio' name='answers[before]' value='yes' required disabled checked=answers.before === 'yes')#beforeyes
								label(for='beforeyes').btn Yes
								input(type='radio' name='answers[before]' value='no' required disabled checked=answers.before === 'no')#beforeno
								label(for='beforeno').btn No

					.hidden.js-poll-agm2019-section(data-name='answers[rsvp]' data-value='no')
						h4 No worries!

						p.
							We understand that people have a lots of time commitments and
							it isn't possible to be everywhere.

						.poll-section
							h4 Is there anything you'd like to see discussed?
							p.
								Even if you can't come, your input here will help inform the
								agenda for the evening.

							.form-group
								input(type='text' name='answers[discuss]' value=answers.discuss).form-control

					p
						button.btn.join-btn.js-poll-agm2019-submit Send RSVP
			else
				.alert.alert-warning.
					RSVPs are closed
