extends /src/views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='/static/js/poll-agm2019.js')

block flashes

block contents
	.row
		.col-md-3
			- page = ''
			if access('member')
				include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 &nbsp;

			.row
				.col-md-9
					img(src='/static/imgs/polls/agm2019/title.png').poll-agm2019-title-image
					if answer.answer
						.alert(class='alert-' + (answer.answer === 'yes' ? 'success' : 'warning'))
							if answer.answer === 'yes'
								| You are coming to the AGM!
							else
								| You aren't coming to the AGM.
							if !poll.closed
								|
								|
								a(href='#vote') You can change your reply below.

					p #[b When:] 6.30pm, Monday 14th October

					p #[b Where:] The Station, Silver St, Bristol BS1 2AG

					p.
						We’re pleased to invite you to the Bristol Cable Annual General
						Meeting 2019, where Cable members help steer the co-op for the year
						ahead.

					p.
						The AGM is the most important moment in the Cable year for us all
						to come together, reflect, celebrate and make big plans for what’s
						next. We’ll be electing new directors and working through some
						important questions together. As well as marking the Cable’s 5th
						Birthday!

					p.
						The AGM will be a lively event with interactive activities,
						interesting conversation, cups of tea and delicious snacks! For a
						flavour of the event take a look at
						#[a(href='https://www.facebook.com/watch/?v=837090986489681') this video]
						of last year.

					p The event is child-friendly and there will be a creche / play area.

					if !poll.closed
						hr#vote

						if justAnswered
							img(src='/static/imgs/polls/hand3.png').poll-hand3

							h3 Thanks for your reply
							
							p
								if answer.answer === 'yes'
									| We look forward to seeing you there! We'll be sending out
									| more details over the next few weeks.
								else
									| We'll be sending out more details on how you can still have
									| you say over the next few weeks.

							p.
								If your availability changes you can update your RSVP below.

							hr(style='clear: both')

						form(method='POST' action='#vote').js-poll-agm2019-form
							+csrf

							include /src/views/partials/flash.pug

							h3 Can you come to the AGM?

							.poll-agm2019-options
								input(type='radio' name='answer' value='yes' required checked=answer.answer === 'yes')#answer1
								label(for='answer1').btn Yes
								input(type='radio' name='answer' value='no' required checked=answer.answer === 'no')#answer2
								label(for='answer2').btn No

							.hidden.js-poll-agm2019-section(data-name='answer' data-value='yes')
								h4 Great! Just a few quick questions...

								p.
									Thanks for taking the time out of your evening to come get
									involved in your media. We have a few quick questions to make
									sure we have everything we need on the night.

								h4 Do you want to use our free creche?

								.poll-agm2019-options
									input(type='radio' name='creche' value='yes' required disabled checked=answer.creche === 'yes')#crecheyes
									label(for='crecheyes').btn Yes
									input(type='radio' name='creche' value='no' required disabled checked=answer.creche === 'no')#crecheno
									label(for='crecheno').btn No

								.hidden.js-poll-agm2019-section(data-name='creche' data-value='yes')
									p Please let us know how many children and their ages:
									.form-group
										input(type='text' name='creche_details' value=answer.creche_details required disabled).form-control

								h4 Accessibility
								p.
									The venue is wheelchair accessible (with accessible toilets and
									smoking area). The front of the venue has level paved access
									and on street parking directly outside.
									#[b Do you have any other access needs to allow you to take part?]
								.form-group
									input(type='text' name='accessibility' value=answer.accessibility).form-control

								h4 Helping out on the night
								p.
									We need members to help out on the day and act as volunteers
									during the AGM to welcome people and help the event go
									smoothly. This would mean turning up at 5.30pm.
									#[b Are you interested in volunteering?]

								.poll-agm2019-options
									input(type='radio' name='volunteer' value='yes' required disabled checked=answer.volunteer === 'yes')#volunteeryes
									label(for='volunteeryes').btn Yes
									input(type='radio' name='volunteer' value='no' required disabled checked=answer.volunteer === 'no')#volunteerno
									label(for='volunteerno').btn No

								h4 What would you like to discuss?
								p.
									Is there anything in particular you'd like to see discussed
									at the AGM? We can't promise that everyone's topics will make
									it on to the agenda but we will do our best to identify key
									discussion points.

								.form-group
									input(type='text' name='discuss' value=answer.discuss).form-control

								h4 And finally, have you been to a Cable AGM before?
								p.
									We’re collecting this information to work out how many of our
									members we’re engaging and how to include more members in our
									events.

								.poll-agm2019-options
									input(type='radio' name='before' value='yes' required disabled checked=answer.before === 'yes')#beforeyes
									label(for='beforeyes').btn Yes
									input(type='radio' name='before' value='no' required disabled checked=answer.before === 'no')#beforeno
									label(for='beforeno').btn No

							.hidden.js-poll-agm2019-section(data-name='answer' data-value='no')
								h3 No worries!

								p.
									We understand that people have a lots of time commitments and
									it isn't possible to be everywhere.
									
								p.
									To try to make it easier to participate, this year we'll be putting
									lots of the AGM questions online so you'll still be able to let us
									know what you think. We'll be in touch closer to the time with
									details.

								h4 Is there anything you think we should discuss?
								p.
									Even if you can't come you can still help us set the agenda.
									We can't promise that everyone's topics will make it on to
									the agenda but we will do our best to identify key discussion
									points.

								.form-group
									input(type='text' name='discuss' value=answer.discuss).form-control

							.hidden-js.js-poll-agm2019-submit
								if code
									h4 Please confirm your email address
									p.
										For data protection reasons, this must be the email address
										that we have on record for you.  If you have trouble please
										email
										#[a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org].

									.form-group
										input(type='email' name='email' required).form-control

								p.poll-agm2019-end
									button.btn.join-btn Submit
