extends /src/views/base.pug

block prepend title
	- title = 'Poll'

block append css
	link(rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css')
	style.
		.formcomponents { position: sticky; top: 1rem }

block append js
	if poll.formTemplate === 'builder'
		script(src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js')
		script.
			Formio.builder(
				document.getElementById('builder'),
				!{JSON.stringify(poll.formSchema || {})},
				{template: 'bootstrap3'}
			).then(function (builder) {
				builder.on('change', function() {
					$('.js-poll-form-schema').val(JSON.stringify(builder.schema));
				});
			});

block contents
	.row
		.col-md-12
			+page_header(poll.question)

			dl.dl-horizontal
				dt Status
				dd
					if poll.active
						span.label.label-success Active
					else if poll.closed
						span.label.label-warning Closed
					else if poll.expires
						span.label.label-warning Expired
					else if poll.starts
						span.label.label-info Scheduled
				dt Created
				dd= moment(poll.date).format('DD/MM/YYYY [at] HH:mm')
				dt Update answers?
				dd= poll.allowUpdate ? 'Yes' : 'No'
				dt URL
				dd
					a(href='/polls/' + poll.slug)= '/polls/' + poll.slug
					|
					|
					if !poll.active
						a(href='/polls/' + poll.slug + '?preview=1').btn.btn-xs.btn-default Preview
				dt Submissions
				dd
					= pollAnswers.length
					|
					|
					button(type='button' data-toggle="collapse" data-target="#answers").btn.btn-xs.btn-default Show
					.collapse#answers
						p.comma-list
							each answer in pollAnswers
								if answer.member
									span
										a(href='/members/' + answer.member.uuid)= answer.member.fullname
										each tag in answer.member.tags
											|
											|
											span.label.label-info= tag.name

			hr

	.row
		.col-md-8
			h4 Update poll
			include partials/poll-form

	.row
		.col-md-12
			hr

			h4 Edit poll form

			if poll.formTemplate === 'builder'
				#builder

				form(method='POST')
					+csrf
					input(type='hidden' name='formSchema' value=JSON.stringify(poll.formSchema || {})).js-poll-form-schema
					button(name='action' value='edit-form').btn.btn-primary Save
			else
				.row
					.col-md-8
						.alert.alert-warning This poll's form cannot be edited

			hr

	.row
		.col-md-8

			h4 Delete poll

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
