extends /src/views/base.pug

block prepend title
	- title = 'Poll'
	- activeapp = 'polls'

block contents
	.row
		.col-md-12
			+page_header(poll.name)

			p.
				Created #{moment(poll.date).format('DD/MM/YYYY [at] HH:mm')}

			if poll.active
				.alert.alert-success This poll is currently active
			else if poll.closed
				.alert.alert-warning This poll is closed
			else if poll.expires
				.alert.alert-warning This poll has expired

			h4 Answers
			ul
				each count, answer in answerCounts
					li
						= answer
						| :
						|
						= count

			p
				b Note:
				|
				|
				if poll.allowUpdate
					| Users can update their answers
				else
					| Users can't update their answers

	.row
		.col-md-8
			hr

			h3 Update poll

			form(method='POST').form-horizontal
				input(type='hidden' name='action' value='update')
				+csrf
				.form-group
					label(for='question').control-label.col-md-3 Title
					.col-md-6
						input(type='text' name='question' value=poll.question required)#question.form-control
				.form-group
					label(for='description').control-label.col-md-3 Description
					.col-md-6
						input(type='text' name='description' value=poll.description)#description.form-control
				.form-group
					label(for='slug').control-label.col-md-3 Slug
					.col-md-6
						input(type='text' name='slug' value=poll.slug required)#slug.form-control
				.form-group
					label(for='mergeField').control-label.col-md-3 Merge field
					.col-md-6
						input(type='text' name='mergeField' value=poll.mergeField)#mergeField.form-control
				.form-group
					label(for='expires').control-label.col-md-3 Expires (UTC)
					.col-md-3
						input(type='date', name='expiresDate' value=poll.expires ? moment.utc(poll.expires).format('YYYY-MM-DD') : '')#expires.form-control
					.col-md-3
						input(type='time', name='expiresTime' value=poll.expires ? moment.utc(poll.expires).format('HH:mm') : '').form-control
				.form-group
					.col-md-offset-3.col-md-9
						.checkbox-inline
							input(type='checkbox' name='closed' value='true' checked=poll.closed)
							| Closed

				p.col-md-offset-3
					button.btn Update

			hr

			h3 Delete poll

			form(method='POST')
				+csrf
				input(type='hidden', name='action', value='delete')
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button.btn.btn-danger.outline Delete
